.nav {
  display: flex;
  flex-direction: row;
  background-color:blueviolet;
}
.nav > a {
  margin: 10px;
  font-size: large;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.dashboard {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: left;
}
td, th {
  margin: 10px;
  border-bottom: 1px solid black;
}